@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');

/* theme color */
$--color-primary: #0486fe;
$--color-black: #303133;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
$--font-weight-primary: 400;

@import "~element-ui/packages/theme-chalk/src/index";

.el-tabs {
  .el-tabs__item {
    color: #4f5051;
    font-weight: 400;

    &.is-active,
    &:hover {
      color: #0486fe;
    }
  }
}

.el-header {
  padding: 0 80px;
}

.el-main {
  padding: 20px 80px;
}

.el-button {
  text-transform: uppercase;
}

body {
  margin: 0;
  font-family: "Roboto", "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #303133;
}

.sw-header {
  background: #d0021b;

  .sw-brand {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.3px;
    line-height: 64px;
  }
}

.sign-card {
  width: 496px;
  padding: 0 !important;
  margin: 0 auto;
  margin-top: 50px;

  .el-card__body {
    padding: 0;

    .el-tabs__content {
      padding: 24px;

      .sw-form-actions {
        margin-top: 45px;
        text-align: center;

        button {
          width: 256px;
          text-transform: uppercase;
        }
      }
    }

    .el-tabs__nav {
      width: 100%;
      height: 46px;

      .el-tabs__active-bar {
        display: none;
      }

      .el-tabs__item {
        width: 50%;
        height: 46px;
        padding: 0;

        text-align: center;
        font-size: 16px;
        text-transform: uppercase;
        line-height: 46px;

        &#tab-0 {
          border-right: solid 1px #dcdfe6;
        }

        &.is-active {
          border-bottom: solid 2px #409EFF;
        }
      }
    }

    .el-tab-pane {
      padding: 10px 40px;
    }
  }
}

.sign-in-form, .sign-out-form {
  .social-buttons, .sign-in-button {
    width: 100%;
    margin: 0;
    padding: 0;

    text-align: center;
    list-style: none;

    li {
      margin-bottom: 10px;

      .el-button {
        width: 250px;
        text-transform: uppercase;
      }
    }
  }

  .sign-in-button {
    margin-bottom: 17px;
  }

  .el-form {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .sign-in-links {
    list-style: none;
    text-align: center;
    margin: 24px 0 0 0;
    padding: 0;

    li {
      font-size: 18px;
      height: 36px;

      small {
        font-size: 16px;
      }

      a, a:hover, a:active, a:visited {
        color: #000;
        text-decoration: none;
      }
    }
  }
}